<%= link_to "Back to Products", products_url %>
<%= link_to "Edit", edit_user_path(@user) %>
<%= link_to "Delete", @user, :confirm => "Are you sure you want to delete your account?", :method => :delete %>

<p><%= @user[:name] %>
<%= @user[:email] %></p>