<h3>Welcome!</h3>
<%= link_to "New restaurant", new_restaurant_path %>

<% @restaurants.each do |restaurant| %>
<ul>
	<li> <%= link_to restaurant.name, restaurant %> </li>
	<li> Description: <%= restaurant.description %> </li>
	<li> Address: <%= restaurant.address %> </li>
	<li> Cuisine: <%= restaurant.cuisine %> </li>
	<li> <%= link_to "Official Website", "http://#{restaurant.url}", target: '_blank' %> </li>
</ul>
<% end %>