<%= link_to "Back to Restaurants", restaurants_url %>
<%= link_to "Edit", edit_restaurant_path(@restaurant) %>
<%= link_to "Delete", @restaurant, :confirm => "Are you sure you want to delete this restaurant?", :method => :delete %>

<li> <%= @restaurant.name %> </li>
<li> Description: <%= @restaurant.description %> </li>
<li> Address: <%= @restaurant.address %> </li>
<li> Cuisine: <%= @restaurant.cuisine %> </li>
<li> <%= link_to "Official Website", "http://#{@restaurant.url}", target: '_blank' %> </li>

<h3><%= link_to "Reservations", restaurant_reservations_path(@restaurant) %></h3>

<% if current_user %>
	<h4>New Reservation</h4>
  <%= render '/reservations/form' %>
<% else %>
  <p>Please <%= link_to "log in", new_session_path %> to make a reservation.</p> 
<% end %>